torch==2.1.0 # PyTorch库，用于深度学习和GPU计算
transformers>=4.38.1 # Hugging Face Transformers库，提供预训练模型和工具
uvicorn==0.28.0 # ASGI服务器，用于运行FastAPI应用
pydantic==2.6.4 # 数据验证和设置管理库
fastapi==0.110.0 # 高性能Web框架，用于构建API
sse_starlette==2.0.0 # Starlette/FastAPI的服务器发送事件（SSE）支持
shortuuid==1.0.13 # 生成简短、明确、URL安全的UUID